body {
    background-color: black;
}

img{
    width: 100%;
}

.grid3{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 70px;
}

.text0{
    color: rgb(174, 187, 143);
    text-align: center;
    font-size: 30px;
}

.icons{
    margin-left: 100px;
}

.logo{
    width: 120px;
    height: 110px;
}

.icon1{
    width: 60px;
    height: 60px;
}

.nav1{
    display: grid;
    grid-gap: 7px;
    grid-template-columns: auto auto auto auto auto;
    height: 40px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin-top: 130px;
}

.btn1 {
    border: none;
    border-bottom: 2px solid rgba(184, 223, 162, 0.8);
    color: rgba(184, 223, 162, 0.8);
    text-align: center;
    font-size: 16px;
    width: 120px;
}

.btn0 {
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 16px;
    width: 120px;
}

.btn1:hover {
    color: rgb(81, 204, 44);
    border-bottom: 2px solid rgb(81, 204, 44);
}

.img3{
    margin-top: 40px;
}

.grid{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: rgb(71, 71, 71);
}

.left-column{
    margin-left: 0px;
}

.text1{
    color: rgba(184, 223, 162, 0.8);
    font-size: 25px;
    margin-top: 12px;
}

.text2{
    color: white;
    margin-bottom: 0px;
}

.text3{
    margin-bottom: 0px;
    color:  rgb(81, 204, 44);
}

.text4{
    padding-left: 5px;
    border-left: 3px solid rgb(255, 77, 45);
    color: white;
}

.btn2{
    background-color: rgb(255, 77, 45);
    color: white;
    border: 1px solid white;
}

.btn3{
    text-align: right;
    margin-right: 7px;
}

.grid2{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text5{
    color: white;
    font-size: 18px;
}

.text6{
    color: white;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 22px;
    padding-top: 20px;
}

.left-column{
    border-right: 3px solid rgb(56, 56, 56);
}

.right-column{
    margin-left: 15px;
}

.bottom-border{
    padding-bottom: 40px;
    border-bottom: 3px solid rgb(177, 175, 175);
}

.img4{
    margin-top: 50px;
}